.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page__wrapper {
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  max-width: 100vw;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inactive-button {
  pointer-events: none;
}
