.promo-menu {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .promo-menu {
    gap: 10px;
  }
}

@media screen and (max-width: 425px) {
  .promo-menu {
    margin-bottom: 17px;
    gap: 6px;
  }
}

.promo-menu__elements {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.promo-menu__element {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  width: 96px;
  height: 36px;
  padding-top: 10px;
  border-radius: 10px;
  background: #303030;
}
@media screen and (max-width: 425px) {
  .promo-menu__element {
    max-width: 82px;
    min-height: 21px;
    padding-top: 5px;
    font-size: 10px;
  }
}

.promo-menu__link {
  color: rgb(255, 255, 255, 1);
  text-decoration: none;
}

.promo-menu__link:hover {
  opacity: 0.6;
  cursor: pointer;
}
